name: Backend Deploy Fly io
on:
  push:
    branches: [master]
    paths:
      - server/**
      - .github/workflows/backend-deploy.yml
jobs:
  deploy:
    defaults:
      run:
        working-directory: ./server
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
